%nav.navbar.navbar-default
  .container.fluid
    .navbar-header
      .navbar-brand
      = link_to image_tag("logo.png",:size => "43x50"), root_path
    %ul.nav.navbar-nav.pull-right
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'About', about_path
      %li
        = posts_link
      %li
        = link_to 'Cookies', cookies_path
      - if current_user
        %li.dropdown
          %a.dropdown-toggle{"data-toggle": "dropdown", type: "button"}
            Menu
            %span.caret
            %ul.dropdown-menu
              %li= my_posts_link
              %li= admin_categories_link
      %li
        = login_or_logout_user_link
      %li
        = register_user_link
